/Puzzles/Puzzles/obj
/Puzzles/Puzzles/bin
/Puzzles/.vs
/Puzzles/Puzzles.sln.DotSettings.user
/Puzzles/Puzzles_2018/bin
/Puzzles/Puzzles_2018/obj
/Puzzles/Puzzles_2019/bin
/Puzzles/Puzzles_2019/obj
/Puzzles/Shared/obj
/Puzzles/Shared/bin
/Puzzles/.idea
